/*** RESET ***/
		*{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-family:inherit;vertical-align:baseline;font-size:1em;font-style:normal;-webkit-font-smoothing:antialiased;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;user-select:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;-o-tap-highlight-color:transparent;}*, *::before, *::after{-webkit-transition:.5s;-box-transition:.5s;-o-transition:.5s;transition:.5s;}:hover,:active,:focus{outline:0 !important;}html, body{min-height:100%;font-family:sans-serif;font-size:1rem;position:relative;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;padding:0;line-height:1;}article, footer, header, section{display:block;}ol, ul{list-style:none;}a{display:inline-block;text-decoration:none;background-color:transparent;color:initial;}a img{border:none;}a, button, input[type="submit"]{cursor:pointer !important;}button{// background-color:transparent;}img{width:100%;height:auto;}img::selection{fill:none;color:none;display:none;background:none;}input[type="text"], input[type="number"], input[type="search"], input[type="email"], textarea{text-align:left;max-width:100%;}input[type="checkbox"], input[type="radio"]{display:none;}input[type="submit"]{background-color:transparent;}label{display:inline;}textarea{resize:vertical;}
/*** END RESET ***/

/*** VARIABLES ***/






/*** END VARIABLES ***/

/*** Z-INDEXES ***/
.js-code-hidden { position: relative; z-index: 0; }
.aside-code-img,
.aside-footer,
.aside-menu,
.main { position: relative; z-index: 10; }
/*** END Z-INDEXES ***/

/*** CANCEL ***/
body, html { width: 100%; height: 100%; }
.is-hidden { display: none !important; }
/*** END CANCEL ***/

/*** COLORS ***/
.aside-wrap,
.section .u-submit-wrap,
.header-nav-button.is-active,
.header-nav-button:hover,
.header-nav-button:active,
.header-nav-button:focus { background-color: #03EA60; }

.js-html.is-offline .aside-wrap,
.js-html.is-offline .section .u-submit-wrap { background-color: gray !important; }
.section .u-input,
.section .u-select,
.section .u-textarea { border-color: gray; }

.u-submit-wrap { background-color: black; }

.aside .u-input,
.aside .u-select { background-color: rgba(255, 255, 255, .3); }
.js-html.is-offline .aside .u-submit-wrap { background-color: rgba(255, 255, 255, .3) !important; }

body, html { background-color: #eee; }

.header-nav { background-color: white; }
.aside .u-submit-wrap,
.aside .u-submit-text { color: white; }

.section .u-input,
.section .u-select,
.section .u-textarea { background-color: transparent; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{font-family:"OCR A Extended";src:url("../fonts/OCRAEXT.ttf");/*src:url("../fonts/OCRAEXT.eot") format("embedded-opentype"),url("../fonts/OCRAEXT.woff2") format("woff2"),url("../fonts/OCRAEXT.woff") format("woff"),url("../fonts/OCRAEXT.ttf") format("trutype"),url("../fonts/OCRAEXT.svg") format("svg");*/}body, html{font-family:"OCR A Extended", sans-serif;}
		
.section-h1 { font-size: 2em; }
.section-title { font-size: 3em; }

.section-title,
.aside .u-input,
.aside .u-select,
.u-submit-text { font-weight: bold; }

.aside .u-input,
.aside .u-select,
.u-submit-text { font-variant: small-caps; }
.aside .u-input,
.aside .u-select,
.u-submit-text { text-transform: lowercase; }
.section-title { text-transform: capitalize; }
.aside a { text-decoration: underline; }
/*** END FONTS ***/

/*** MEDIA ***/
.header-nav-button[attrHREF="email"] { background-image: url("../images/icon_email_black.png"); }
.header-nav-button[attrHREF="telephone"] { background-image: url("../images/icon_telephone_black.png"); }
.header-nav-button[attrHREF="website"] { background-image: url("../images/icon_website_black.png"); }
.header-nav-button[attrHREF="custom"] { background-image: url("../images/icon_custom_black.png"); }

.u-submit.to-download .u-submit-icon { background-image: url("../images/icon_download_white.png"); }
.u-submit.to-share .u-submit-icon { background-image: url("../images/icon_share_white.png"); }
.u-submit.to-generate .u-submit-icon { background-image: url("../images/icon_generate_black.png"); }

.u-submit-icon {
	background-repeat: no-repeat; background-position: center;
	background-size: cover;
}
.header-nav-button {
	background-repeat: no-repeat; background-position: center;
	background-size: 40% auto;
}

.header-nav .u-placeholder-img { visibility: hidden; }
/*** END MEDIA ***/

/*** UTILITIES ***/
.u-submit-wrap { display: flex; }
.u-submit-wrap { justify-content: center; }
.u-submit-wrap { align-items: center; }

.u-input,
.u-select,
.u-textarea {
	width: 100%;
	padding: 1em;
	margin: .25em auto;
	border-radius: .5em;
}
.section .u-input,
.section .u-select,
.section .u-textarea {
	border-width: 0 0 .25em 0; border-style: solid;
}
.u-textarea {
	min-height: 7.5em;
}

.u-placeholder-img {// visibility: hidden; }

.u-submit {
	display: inline-block;
	width: auto;
}
.u-submit-wrap {
//	display: inline-block;
	padding: 1em 1.5em;
	margin: .25em;

	border-radius: 10em;
}
.u-submit-icon {
	width: 1em;
}
.u-submit-text {
	display: inline-block;
	padding: 0 .5em;
}
/*** END UTILITIES ***/

/*** COMPONENTS ***/
.aside-code,
.aside-menu-buttons,
.aside-wrap,
.header,
.header-nav-list,
.header-nav-list-item,
.main,
.section,
.section-content { display: flex; }
.aside-wrap,
.header,
.header-nav-list,
.section,
.section-content { flex-direction: column; }
.aside-code,
.header-nav-list-item { align-items: center; }
.aside-code,
.header-nav-list-item { justify-content: center; }
.section-content { justify-content: flex-start; }
.aside-menu-button,
.aside-code,
/*
.header-nav,
.header-nav-list-item,
*/
.section,
.section-content { flex: 1; }

.header,
.section,
.aside {
	padding: 1em;
}
.section-buttons,
.section-fieldset,
.aside-menu-buttons {
	margin-top: 2em;
}

.aside-wrap {
	border-radius: 1.5em;
}
.aside-footer {
	padding-top: 1em;
	text-align: center;
}

.header-logo,
.header-nav {
	padding: 1em .75em;
}

.header-logo-img { width: 3em; }
.header-nav-button-icon { width: 1em; }

.header {
	text-align: center;
}

.header-nav {
	border-radius: 10em;
}
.header-nav-list {
	height: 100%;
}
.header-nav-list-item { padding: .25em 0; }
.header-nav-list-item:first-child { padding-top: 0 !important; }
.header-nav-list-item:last-child { padding-bottom: 0 !important; }
.header-nav-button {
	border-radius: 50%;
}
.header-nav-button-icon {
	margin: 1em;
}

.section-content {
	overflow-y: auto;
}
.section-message {
	padding: 1em .5em;
}
/*** END COMPONENTS ***/

/*** INTERRACTIVITY ***/
.u-button,
.u-submit { cursor: pointer; }
.js-html.is-offline .u-submit { cursor: initial !important; }

.aside-code-img { visibility: hidden; }
.aside-code-img.is-active { visibility: visible; }

.js-section.is-empty { visibility: hidden; }
.js-code-hidden {
	position: fixed; left: 0; bottom: 0;
	visibility: hidden;
}
/*** END INTERRACTIVITY ***/

/*** MEDIA QUERIES ***/
@media screen and (max-width:50em){
	body, html { font-size: 13px; }
	
	.aside { display: flex; }
	.aside-wrap { flex: 1; }
	
	.aside,
	.aside-wrap {
		width: 100%;
	}
	.aside {
		min-height: 30%;
	}
	.aside-wrap {
		position: relative;
		padding: 1em;
	}
	.aside-code {
		position: absolute; top: -3em; left: 0; right: 0;
		display: inline-block;
		width: 5em;
		margin: 0 auto;
		
//		border-radius: 1.5em;
		background-color: white;
		
		padding: 0 !important;
	}
	.aside-code-img {
//		padding: .25em;
	}
	
	.main { min-height: 70%; }
	
	.section {
//		max-height: 70%;
	}
	.section-fieldset {
		max-height: 40%;
	}
}
@media screen and (min-width:50em){
	body, html { font-size: 16px; }
	
	body { display: flex; }
	
	.aside,
	.aside-wrap {
		height: 100%;
	}
	.aside {
		width: 33.333%;
	}
	.aside-wrap {
		padding-bottom: 0 !important;
	}
	.aside-code-img {
		width: 66.666%;
	}
	.aside-menu {
		padding: 2em 1em;
		padding-bottom: 1.25em !important;
	}
	
	.main {
		width: 66.666%;
	}
	
	.section {
		padding: 2em 5em;
	}
}
/*** END MEDIA QUERIES ***/

/*** HACKS ***/
/*** END HACKS ***/

/*** TO DELETE ***/
/*** END TO DELETE ***/